@use "../common.scss" as *;

.base {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.betForm {
  position: absolute;
  left: 50%;
  bottom: var(--play-bottom);
  transform: translate(-50%, -50%);
  background-color: rgba(var(--play-panel-bg), 0.5);

  width: 294px;
  height: 148px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.multiPlayController {
  height: 182px;
  gap: 7px;
}

.disabled {
  opacity: 0.1;
}

.auto {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: rgba(var(--text-color-hex), 1);
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  height: 35px;
  background: rgba(255, 255, 255, 0.15);
  padding: 0 9px;
}
